@(f1 : Food,f2 : Food,f3 : Food,f4 : Food ,f5 : Food ,f6 : Food)

<h1>ร้านอาหาร</h1>

<div class ="row">
    <div class ="col-lg-6 "> <br>
        <div class ="panel panel-info ">
            <div class ="panel-heading"> ชื่อประเภท @f1.getType() </div>
            <div class about="panel-body">
                <br>
                รหัสอาหาร : @f1.getId() <br>
                ชื่ออาหาร : @f1.getName() <br>
                ราคา : @f1.getPrice() <br>
                ขนาด : @f1.getSize() <br>
                ประเภทอาหาร : @f1.getType() <br>
                จำนวน : @f1.getAmount() <br>
            </div>
        </div>

        <br><br>
    </div>

    <div class ="col-md-6 ">
        <br>
        <div class ="panel panel-info ">
            <div class ="panel-heading"> ชื่อประเภท @f1.getType() </div>
            <div class about="panel-body">
                <br>
                รหัสอาหาร : @f2.getId() <br>
                ชื่ออาหาร : @f2.getName() <br>
                ราคา : @f2.getPrice() <br>
                ขนาด : @f2.getSize() <br>
                ประเภทอาหาร : @f2.getType() <br>
                จำนวน : @f2.getAmount() <br>
            </div>
        </div>

        <br><br>

    </div>
</div>
    <div class ="row">
        <div class ="col-lg-6 ">
            <br>
            <div class ="panel panel-info ">
                <div class ="panel-heading"> ชื่อประเภท @f1.getType() </div>
                <div class about="panel-body">
                    <br>
                    รหัสอาหาร : @f3.getId() <br>
                    ชื่ออาหาร : @f3.getName() <br>
                    ราคา : @f3.getPrice() <br>
                    ขนาด : @f3.getSize() <br>
                    ประเภทอาหาร : @f3.getType() <br>
                    จำนวน : @f3.getAmount() <br>
                </div>
            </div>

            <br><br>

        </div>

        <div class ="col-md-6 ">
            <br>
            <div class ="panel panel-info ">
                <div class ="panel-heading"> ชื่อประเภท @f1.getType() </div>
                <div class about="panel-body">
                    <br>
                    รหัสอาหาร : @f4.getId() <br>
                    ชื่ออาหาร : @f4.getName() <br>
                    ราคา : @f4.getPrice() <br>
                    ขนาด : @f4.getSize() <br>
                    ประเภทอาหาร : @f4.getType() <br>
                    จำนวน : @f4.getAmount() <br>
                </div>
            </div>

            <br><br>

        </div>



</div>
<div class ="row">
    <div class ="col-lg-6 ">
        <br>
        <div class ="panel panel-info ">
            <div class ="panel-heading"> ชื่อประเภท @f1.getType() </div>
            <div class about="panel-body">
                <br>
                รหัสอาหาร : @f5.getId() <br>
                ชื่ออาหาร : @f5.getName() <br>
                ราคา : @f5.getPrice() <br>
                ขนาด : @f5.getSize() <br>
                ประเภทอาหาร : @f5.getType() <br>
                จำนวน : @f5.getAmount() <br>
            </div>
        </div>

        <br><br>

    </div>

    <div class ="col-md-6 ">
        <br>
        <div class ="panel panel-info ">
            <div class ="panel-heading"> ชื่อประเภท @f1.getType() </div>
            <div class about="panel-body">
                <br>
                รหัสอาหาร : @f6.getId() <br>
                ชื่ออาหาร : @f6.getName() <br>
                ราคา : @f6.getPrice() <br>
                ขนาด : @f6.getSize() <br>
                ประเภทอาหาร : @f6.getType() <br>
                จำนวน : @f6.getAmount() <br>
            </div>
        </div>

        <br><br>

    </div>
</div>